node_modules
vendor
tests
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/debugbar
storage/app/public/*
storage/logs/*
vite.config.js
package.json
package-lock.json
Dockerfile
docker-compose.yml
docker-compose-production.yml
.gitattributes
.editorconfig

